{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Blog</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'website:index' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'blog:index' %}">Blog</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Booking Start -->
    <div class="container-fluid booking mt-5 pb-5">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 30px;">
                <div class="row align-items-center" style="min-height: 60px;">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select class="custom-select px-4" style="height: 47px;">
                                        <option selected>Destination</option>
                                        <option value="1">Destination 1</option>
                                        <option value="2">Destination 1</option>
                                        <option value="3">Destination 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Depart Date" data-target="#date1" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Return Date" data-target="#date2" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select class="custom-select px-4" style="height: 47px;">
                                        <option selected>Duration</option>
                                        <option value="1">Duration 1</option>
                                        <option value="2">Duration 1</option>
                                        <option value="3">Duration 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row pb-3">
                        {% for post in posts %}
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="blog-item">
                                <div class="position-relative">
                                    <img class="img-fluid w-100" src="{% static 'img/package.jpg' %}" alt="">
                                    <div class="blog-date">
                                        <small class="text-white text-uppercase">{{post.published_date|date:"y/m/d"}}</small>
                                        <small class="text-white">views:{{post.counted_views}}</small>
                                    </div>
                                </div>
                                <div class="bg-white p-4">
                                    {% for cat in post.category.all %}
                                    <a href="{% url 'blog:category' cat_name=cat.name %}"> {{cat.name}}</a>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                    <div class="d-flex mb-2">
                                        <a class="text-primary text-uppercase text-decoration-none" href="{% url 'blog:author' author_username=post.author.username %}">{{post.author}}</a>
                                        <span class="text-primary px-2">|</span>
                                        <a class="text-primary text-uppercase text-decoration-none" href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
                                    </div>{{post.image.url}}
                                    <a class="h5 m-0 text-decoration-none" href="#">{{post.content|truncatewords:4}} </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg justify-content-center bg-white mb-0" style="padding: 30px;">
                                    {% if posts.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <button class="sr-only">Previous</button>
                                    </a>
                                  </li>
                                  {% endif %}
                                  {% for i in posts.paginator.page_range %}
                                  {% if posts.number == i %}
                                  <li class="page-item active"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                                  {% else %}
                                  <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                                  {% endif %}
                                  {% endfor %}
                                  {% if posts.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <button class="sr-only">Next</button>
                                    </a>
                                  </li>
                                  {% endif %}
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    {% include 'blog/blog-programmer.html' %}
    
                    {% include 'blog/blog-search.html' %}
                
                    {% postcategories    %}
    
                    {% include 'blog/blog-recent-posts.html' %}
    
                    {% include 'blog/blog-tags.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

{% endblock %}