{% load static %}


<!-- Author Bio -->
<div class="d-flex flex-column text-center bg-white mb-5 py-5 px-4">
    <img src="{% static 'img/user.jpg' %}" class="img-fluid mx-auto mb-3" style="width: 100px;">
    <h3 class="text-primary mb-3">Mohammad Parsa Mohajeri</h3>
    <p>The developer of this website is me. like my design? you can contact to my github below</p>
    <div class="d-flex justify-content-center">
        <a class="text-primary px-2" href="">
            <a href="https://github.com/ParsaMohajeri"><i class="fab fa-github"></i></a>
    </div>
</div>